<footer class="row p-3 mb-2 bg-dark text-white">
  <div class="footer-section col-12 col-md-4">
    <h3>Task Manager</h3>
    <p>This is demo project in Angular</p>
    <br />
  </div>
  <nav class="footer-section col-12 col-md-4">
    <h3>Quick Links</h3>
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="/signUp">Sign Up</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </nav>
  <br />
  <div class="footer-section col-12 col-md-4">
    <h3>Contact Me</h3>
    <data>
      Sara Bisheer Fikry Bisheer<br />
      Email: <a href="mailto:sara.nousir@gmail.com">sara.nousir@gmail.com</a><br />
      Phone: (+20 111 111 111)
    </data>
  </div>
  <br />
</footer>
